@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=MuseoModerno:wght@400;700&display=swap');

body {
  margin: 0px;
  background-color: #92D099;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: grid;
  grid: 
    'nav nav' 10fr
    'main main' 90fr
    /75fr 25fr;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}