#home {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#likeBtn {
  position: absolute;
  font-size: 1.5rem;
  right: 25px;
  top: 5px;
  margin: 0px;
}

#home img {
  max-height: 200vh;
  max-width: 95%;
}
