#submit {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

input, textarea {
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 4px lightgray;
}

textarea {
  resize: none;
}
